<div class="row mt-4">
    <div class="mx-auto col-md-7">
        <div class="card">
            <div class="card-body text-center" >
                <h4 class="font-weight-bold">AKUN EMAIL BELUM TERVERIFIKASI</h4>
                <hr>
                <p>Silakan cek kotak masuk email untuk mendapatkan link verifikasi atau klik tombol di bawah ini untuk request link verifikasi baru.</p>
                <button class="btn btn-outline-dark" (click)="resendEmail()">KIRIM ULANG EMAIL</button>
            </div>
        </div>
    </div>
</div>
