<div *ngIf="dataSurat">
    <h2>{{dataSurat.namaSurat | titlecase}} </h2>
    <hr>

    <form class="example-form">

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <label for="nama">Nama Pembuat Surat</label>
                        <input class="form-control" type="text" id="nama" aria-label="Number" matInput [formControl]="nama" [matAutocomplete]="auto" (ngModelChange)="changeInput($event)">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getVal($event.option.id)">
                          <mat-option class="nama" *ngFor="let option of filteredOptions | async; trackBy:trackByFunction" [id]="option.nik" [value]="option.nama"  >
                           {{option.nama}}
                            <small class="float-right">{{option.nik}}</small>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div *ngIf="addNew===false">
                        <small class="text-muted">*Nama yang diinputkan belum terdata, klik <strong type="button"  data-toggle="modal" data-target="#myModal">Di Sini</strong> untuk menambahkan data baru</small>
                    </div>
                </div>
            </div>
        </div>

        


    </form>


</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content p-5">

        <h3 class="mb-0">Data Masyarakat</h3>
        <small><strong>Perhatian !!!</strong> Data yang dimasukkan harus sesuai dengan KTP</small>

        <form class="mt-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nama Lengkap">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="NIK (Nomor Induk Kependudukan)">
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tempat">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tanggal Lahir">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">Jenis Kelamin</option>
                            <option value="">Laki - Laki</option>
                            <option value="">Perempuan</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Agama">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Status">
                    </div>
                </div>

            </div>

        </form>

      </div>
    </div>
  </div>
