<div *ngIf="dataSurat">
    <h2>{{dataSurat.namaSurat | titlecase}} </h2>
    <hr>

    <form class="example-form">

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <label for="nama">Nama Masyarakat</label>
                        <input class="form-control" type="text" id="nama" aria-label="Number" matInput [formControl]="nama" [matAutocomplete]="auto" (ngModelChange)="changeInput($event)">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getVal($event.option.id)">
                          <mat-option class="nama" *ngFor="let option of filteredOptions | async; trackBy:trackByFunction" [id]="option.nik" [value]="option.nama"  >
                           {{option.nama}}
                            <small class="float-right">{{option.nik}}</small>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <div *ngIf="addNew===false">
                        <small class="text-muted">*Nama yang diinputkan belum terdata, klik <strong type="button"  data-toggle="modal" data-target="#myModal">Di Sini</strong> untuk menambahkan data baru</small>
                    </div>
                </div>
            </div>
        </div>

        


    </form>


</div>



<!-- The Modal -->
<app-add-data-masyarakat></app-add-data-masyarakat>
