<div class="footer pt-3 pb-1">
    <div class="container">
       <div class="row">
           <div class="col-lg-6 col-sm-12">
            <p>&copy; 2020 Surat Desa. All Right Reserved</p>
           </div>
           <div class="col-lg-6 d-none d-md-none d-lg-block">
               <h3 class="float-right">
                   <i class="fab fa-instagram ml-4"></i>
                   <i class="fab fa-facebook-f ml-4"></i>
                   <i class="fab fa-youtube ml-4"></i>
                   <i class="fab fa-whatsapp ml-4"></i>
                   <i class="fab fa-github-alt ml-4"></i>
               </h3>
            
           </div>
       </div>
    </div>
</div>