.container{
    margin-top:30vh;
    letter-spacing: 2px;
}
.form{
    padding-left: 20px;
    padding-right: 20px;
}
.form input, .form select{
    background-color: #EEEEEE;
    border:none;
    border-radius: 0%;
}
.form .btn{
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0%;
    border: none;
}
.nav-tabs li > a{
    color:#707070;
    font-weight: 600;
    border:0;
    padding-left:0;
    padding-right:0;
    margin-right: 20px;
}
.nav-tabs li > a.active{
    color:#000;
    border-bottom:2px solid #000;
}

.nav-tabs{
    border:0;
}


@media (min-width: 768px) { 
    .biglogo{
        width: 100px;
    }
    .form{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 992px) { 
    .biglogo{
        width: 110px;
    }
    .form{
        padding-left: 40px;
        padding-right: 40px;
    }
    
}

@media (min-width: 1200px) { 
    .biglogo{
        width: 140px;
    }
    .form{
        padding-left: 70px;
        padding-right: 70px;
    }
}